*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0%;
}

a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.header{
    display: flex;
    width:100%;
    height: 85px;
    margin:auto;
    padding-left: 20px;
    align-items: center;
}

#info{
    display: flex ;
    margin: auto;
    align-items: center;
}

#info ul{
    list-style: none;
    display: flex;

}

.header img{
    width: 65px;
    height: 65px;
    padding-right:10px;
}

#info li{
    padding: 10px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #8f6a05;
    align-items:right;
}

.container2{
    display: flex;
    background-image: url(images/3..jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: left;
    margin-top: 20px;
    height: 500px;
}

.container2 h1{
    font-size: 60px;
    font-weight: 700;
    padding-left: 700px;
    font-style: normal;
    color: #8f6a05;
    
    
}
    
    

.hero{
    display: flex;
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    margin-bottom: 20px;
}

.hero h1{
    font-size: 140px;
    font-weight: bolder;
    color: #F4E2B0;
    padding-left: 90px;
    padding-bottom: 30px;
}

.container{
    display: flex;

    justify-content: space-between;
    background-color: black;
}

.leftside img{
    width:100%;
    flex-basis: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

.rightside{
    flex-basis: 125%;
    justify-content: space-between;

}

.rightside p{
    align-items: center;
    color: #FFC137;
    font-size: 23.5px;
    padding: 2px;
    display: block;
    padding-top:20px;
    
}

/* .container2{
    display: flex;
    border: solid 1px #ad2e2e;

}
.container2 img{
    object-fit: fill;
} */

.container3{
    display: flex;

    justify-content: space-between;
    background-color: black;
    margin-top: 25px ;
}

.rightside1 img{
    width:100%;
    flex-basis: 125%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 20px
    
    
}

.leftside1{
    flex-basis: 50%;
    justify-content: space-between;

}

.leftside1 p{
    text-align: center;
    color: #FFC137;
    font-size: 35px;
    padding: 2px;
    display: block;
    
}

.footer{
    display: flex;
    background-color: black;
    margin-top: 20px;
    
}

#Foot{
    margin: 0 auto;
}

#Foot ul{
    list-style: none;
    display: flex;
}

#Foot li{
    color:#FFC137;
    font-size: 25px;
    padding: 20px
    

}


/*  work with us*/

.hero1{
    display: flex;
    background-image: url(images/3..jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 420px;
}

.hero1 h1{
    opacity: 100%;
    padding-left: 800px;
    font-size: 95px;
    color:black;
}

.directions{
    display: flex;
    background-color:black;
    margin-top: 20px;
    height: 370px;
    
}

.mapouter{
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    
}

.address{
    color:#FFC137;
    font-size: 30px;
    font-weight: 600;
    padding-left: 110px;
}

/* About us */

.myDiv {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -85px;
    background-image: url(images/running-dog-breeds_h.jpg) ;
    opacity: 80%;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.myDiv h1{
    font-size: 90px;
    color: #F4E2B0;
    font-weight: 600;
    padding-left: 65%;

}

.myDiv2{
    display: flex;

    justify-content: space-between;
    background-color: black;
}

.image{
    width:100%;
    flex-basis: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.txt{
    align-items: center;
    color: #FFC137;
    flex-basis: 180%;
    font-size: 30px;
    padding-right:50px;
    padding-left: 20px;
    padding-top: 40px;
    display: block;

}

.myDiv3{
    display: flex;

    justify-content: space-between;
    background-color: black;
    margin-top: 20px;
}

.image2{
    width:100%;
    flex-basis: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.txt1{
    align-items: center;
    color: #FFC137;
    flex-basis: 180%;
    font-size: 29px;
    padding-right:20px;
    padding-left: 50px;
    padding-top: 25px;
    display: block;

}